PRIVATE_KEY="**********************************"
ALCHEMY_API_KEY="**********************************"
CONTRACT_ADDRESS_BALLOT="0x00468977368D271E390a675aEA0C2B12CE502710"
CONTRACT_ADDRESS_ERC20="0x5494Fc6dc6B3d4b589A8b0d4C01973311AF6F81A"



MNEMONIC="here is where your extracted twelve words mnemonic phrase should be put"
POKT_API_KEY="********************************"
INFURA_API_SECRET="********************************"
INFURA_API_KEY="********************************"
ETHERSCAN_API_KEY="********************************"